/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: black;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

h1 {
  color: aliceblue;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
}

nav ul li:hover {
  background-color: bisque;
  color: black;
  cursor: pointer;
}

#menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

/* search bar */
.search-bar-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
  margin: auto;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

@media (max-width: 480px) {
  nav #menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

/* SIGN-UP & LOGIN IN CSS start --------------------------------------------------- */

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f3ece6;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

.login-signup-input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid white;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

form button {
  background: #fbc494;
  border: 0;
  color: black;
  padding: 10px;
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  cursor: pointer;
}

/* SIGN-UP LOGIN IN CSS end --------------------------------------------------- */
