/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

/* navbar */
/* NAVBAR START ------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: black;
}

header > .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

h1 {
  color: aliceblue;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
nav ul li a {
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0 0.5rem;
}

nav ul li a:hover {
  background-color: bisque;
  color: black;
  cursor: pointer;
}

#menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

/* search bar */
.search-bar-container {
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.search-input {
  flex-grow: 1;
}

input:focus {
  outline: none;
}

.user-login {
  text-align: right;
}

.user-login a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin-hover:hover {
  animation: spin 1s infinite;
}

#profile-icon {
  color: #fff;
}

.fa-solid {
  margin: 5px;
}

.profile-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px;
  background-color: bisque;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;

}

.logo {
  text-decoration: none;
}

a.profile-btn {
  color: black;
}
/* NAVBAR END ------------------------------------------------------------------------ */

/* responsive navbar  */
@media (max-width: 480px) {
  nav #menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

/* SIGN-UP & LOGIN IN CSS start --------------------------------------------------- */

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f3ece6;
  border-radius: 8px;
  border: 1px solid #fbc494;
  font-family: "Inter", sans-serif;
}

form.login h3 {
  margin-bottom: 1rem;
}

form.signup h3 {
  margin-bottom: 1rem;
}

.login-signup-input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #fbc494;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

form button {
  background: #fbc494;
  border: 0;
  color: black;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

/* SIGN-UP LOGIN IN CSS end --------------------------------------------------- */

/* Homepage styling */

.headerImg {
  width: 100%;
}

.header-image {
  position: relative;
  width: 100%;
}

.header {
  position: absolute;
  top: 40%;
  left: 45%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 700;
  font-size: clamp(10px, 2vw, 32px);
  width: 60vw;
}
.section-heading {
  color: black;
  grid-area: heading;
  text-transform: uppercase;
  margin: 3vw;
  justify-self: start;
}

.students-grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-template-areas: "heading heading heading";
}

.grid-item {
  background-color: pink;
  border-radius: 37px;
  border: solid black 1px;
  /* height: 40vh; */
  width: 70%;
  display: grid;
  align-items: center;
  justify-items: start;
  padding: 1.2rem 1rem;
}

.projTitle {
  margin: 0 0 2vh 2vw;
  text-transform: uppercase;
  color: white;
  font-size: 28px;
}

.projDesc {
  margin: 0 0 2vh 2vw;
  align-self: start;
}

.projImage {
  width: 90%;
  height: 20vh;
  justify-self: center;
  border-radius: 26px;
  border: solid black 1px;
  background-color: white;
}

.grid-item a {
  background-color: white;
  padding: 0.2rem 1.5rem;
  /* width: 5vw; */
  /* height: 2vw; */
  justify-self: start;
  align-self: end;
  margin: 0 0 2vh 2vw;
  border-radius: 50px;
  border: solid black 1px;
  text-align: center;
  line-height: 2.5vh;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  background: #fbc494;
  margin-top: 4rem;
  padding: 1rem 2rem;
  align-items: center;
  width: 100%;
}

.footer-logo img {
  width: 50%;
}

.footer-socials img {
  margin: 0rem 0.8rem;
  width: 20px;
  height: 20px;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
